@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@layer utilities{
  .container{
    @apply max-w-[1290px] mx-auto;
  }
}

@theme {
  --font-rajdhani: "Rajdhani", sans-serif;
}

.outline-title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgb(111, 108, 108);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.outline-title-two {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgb(209, 46, 46);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@custom-variant dark (&:where(.dark, .dark *));