@import "tailwindcss";

@layer utilities{
  .container{
    @apply max-w-[1290px] mx-auto;
  }
}

.outline-title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.outline-title-two {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(190, 9, 9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
